extends template.pug
block content
    header
        h1 #{projectname}
    
    nav
        each tag in tags
            include tagbutton

    main
        each website in websites
            include website.pug
    