extends template.pug
block content
    header
        h1 #{projectName}
    
    nav
        each tag in tags
            include tagbutton

    main
        each website in websites
            include website.pug
    
    script(src="../js/index.js")
    