$breakpoint: 700px;


body {

}

nav {
    display: flex;
    justify-content: space-around;
    button {
        flex-grow: 1;
        margin: 20px;
    }
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    .website {
        width: 80%;
        @media (min-width: $breakpoint) {
            width: 40%;
        }
        
        background-color: deepskyblue;
        padding: 20px;
        margin: 20px;

        h3 {
            margin-top: 0px;
        }

        &.hidden {
            display: none;
        }
    }
}
